<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<!--
    ejs를 이용한 서버사이드 렌더링
    1. ejs 쓰면 html 안에서 서버데이터 사용 가능
    2. ejs 파일은 views 폴더안에 만든다.
    3. res.render로 유저에게 페이지를 보내준다.
-->

<body class="grey-bg">
  <!-- include (재사용 용이) -->
  <%- include('nav.ejs') %>

    <div class="white-bg">

      <% for(let i=0; i<value.length; i++){ %>
        <div class="list-box">
          <h4>
            <a href="/detail/<%= value[i]._id %>"><%= value[i].title %></a>
            <a href="/edit/<%= value[i]._id %>">✏️</a>
            <span class="delete" data-id="<%= value[i]._id %>">🗑️</span>
          </h4>
          <p><%= value[i].content %></p>
        </div>
      <% } %>

    </div> 
    <script>

      const deleteBtn = document.querySelectorAll('.delete');
      for(let i=0; i<deleteBtn.length; i++){
        deleteBtn[i].addEventListener('click', async (e) => {
          const targetId = e.target.dataset.id;
          const response = await fetch(`/delete?id=${targetId}`, {
            method: 'DELETE'
          })
          const data = await response.json();
          console.log(JSON.stringify(data));
        });
      }

    </script>
  </body>
</html>