<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<!--
    1. ejs 쓰면 html 안에서 서버데이터 사용 가능
    2. ejs 파일은 views 폴더안에 만든다.
    3. res.render로 유저에게 페이지를 보내준다.
    4. ejs 파일로 서버데이터 전송하고 <%= 데이터명 %> 으로 HTML에 사용
-->

<body class="grey-bg">

    <%= JSON.stringify(value) %>

    <div class="white-bg">
      <div class="list-box">
        <h4><%= value[0].title %></h4>
        <p><%= value[0].contetn %></p>
      </div>
      <div class="list-box">
        <h4><%= value[1].title %></h4>
        <p><%= value[1].content %></p>
      </div>
    </div> 
  
  </body>
</html>